body {
    padding-top: 15px;
    background: #f3f4ff;
}
header {
    padding-bottom: 20px;
}
.container {
    width: 60%;
    text-align: center;
}
.btn-danger {
    height: 30px;
    padding: 1px 15px 0px 15px;
}

