{% extends 'base.html' %}

{% block title %}
    IA HTML form
{% endblock %}

{% block body %}
    <header class="container">
        <h2>Internet acquiring HTML form</h2>
    </header>
    <main id="for_form" class="container">
        <form method="post" name="acquiring_form" class="needs-validation" novalidate>
            <input type="text" name="client" id="client" class="form-control" placeholder="Client (Name Surname)" required>
            <br>
            <select id="connection" name="connection" class="form-select" required onchange="choose_connection_item()">
                <option disabled selected hidden value="">Choose a 'Connection'</option>
                <option value="With website">With website</option>
                <option value="Without website">Without website</option>
                <option value="With mobile application">With mobile application</option>
            </select>
            <br>
            <select id="integration" name="integration" class="form-select" required>
                <option disabled selected hidden value="">Choose an 'Integration'</option>
                <option value="Without integration">Without integration</option>
                <option value="Wordpress">Wordpress</option>
                <option value="Joomla">Joomla</option>
                <option value="Deal">Deal</option>
                <option value="Tilda">Tilda</option>
            </select>
            <br>
            <select id="payment_method" name="payment_method" class="form-select" required onchange="choose_item()">
                <option disabled selected hidden value="">Choose a 'Payment method'</option>
                <option value="Card">Card</option>
                <option value="ERIP">ERIP</option>
                <option value="QR code">QR code</option>
            </select>
            <br>
            <select id="payers" name="payers" class="form-select" required onchange="choose_payers_item()">
                <option disabled selected hidden value="">Choose a 'Payers'</option>
                <option value="Residents">Residents</option>
                <option value="Non-residents">Non-residents</option>
                <option value="Both types">Both types</option>
            </select>
            <br>
            <select id="payment_system" name="payment_system" class="form-select" required onchange="choose_item()">
                <option disabled selected hidden value="">Choose a 'Payment system'</option>
                <option value="Belcard">Belcard</option>
                <option value="MIR">MIR</option>
                <option value="Other types">Other types</option>
            </select>
            <br>
            <select id="bank" name="bank" class="form-select" required>
                <option disabled selected hidden value="">Choose a 'Bank'</option>
                <option value="Priorbank">Priorbank</option>
                <option value="BelVEB">BelVEB</option>
                <option value="Other banks">Other banks</option>
            </select>
            <br>
            <input type="submit" class="btn btn-primary" value="Send an order">
            <script>
                (function() {
                    'use strict'
                    var forms = document.querySelectorAll('.needs-validation')
                    Array.prototype.slice.call(forms)
                        .forEach(function (form) {
                            form.addEventListener('submit', function (event) {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }
                                form.classList.add('was-validated')
                            }, false)
                        })
                })();

                function choose_connection_item() {
                    if (connection.value == 'Without website' || connection.value == 'With mobile application') {
                        integration.disabled = true;
                        integration.value = 'Without integration';
                    } else {
                        integration.disabled = false;
                    }
                }

                function choose_payers_item() {
                    if (payers.value == 'Non-residents' || payers.value == 'Both types') {
                        if (payment_system.value != 'MIR') {
                            payment_system.value = '';
                        }
                        payment_system.options[1].hidden = true;
                        payment_system.options[3].hidden = true;
                    } else {
                        payment_system.options[1].hidden = false;
                        payment_system.options[3].hidden = false;
                    }
                }

                function choose_item() {
                    if (payment_method.value == 'QR code') {
                        if (bank.value != 'BelVEB' || bank.value != '') {
                            bank.value = '';
                        }
                        bank.options[1].hidden = true;
                        bank.options[3].hidden = true;
                    } else if (payment_method.value != 'QR code' && payment_system.value == 'MIR') {
                        if (bank.value == 'Priorbank') {
                            bank.value = '';
                        }
                        bank.options[1].hidden = true;
                        bank.options[3].hidden = false;
                    } else {
                        bank.options[1].hidden = false;
                        bank.options[3].hidden = false;
                    }
                }
            </script>
        </form>
    </main>
{% endblock %}